<% @user_choice.choice %>
<% @choices.each do |choice| %>
  <% if choice.correct %>
    <p class="correct"><%= choice.content %></p>
  <% elsif choice == @user_choice.choice  %>
    <p class="incorrect"><%= choice.content %></p>
  <% else %>
    <p><%= choice.content %></p>
  <% end %>
<% end %>
<% if !current_user.unanswered_questions.to_a.pop.nil? %>
  <%= link_to "Next Question", question_path(current_user.unanswered_questions.to_a.pop), class: "btn-next"%>
<% else %>
  <p>You have no more questions today!</p>
<% end %>
