<div class="dropdown">
  <button class="dropdown-toggle lifeline-btn" data-bs-toggle="dropdown" aria-expanded="false">
    <%= current_user.lifeline_count %> <i class="fa-solid fa-heart-pulse"></i>
  </button>
  <ul class="dropdown-menu">
    <% if current_user.lifeline_count > 0 %>
      <li><%= link_to "50/50", question_path(@question, :query => "50-50"), class: "dropdown-item" %></li>
      <% if @assist.empty? %>
        <li><%= link_to "Ask a Friend", new_question_assist_path(@question), class: "dropdown-item" %></li>
      <% end %>
      <% unless @ask_the_players.empty? %>
        <li><%= link_to "Ask The Players", question_path(@question, :query => "ask-the-players"), class: "dropdown-item" %></li>
      <% end %>
    <% else %>
      <li><a class="dropdown-item" href="#">Sorry, you dont have enough tokens!!!</a></li>
    <% end %>
  </ul>
</div>
