<h1>Questions</h1>
<%= @questions.prompt %>
<%= simple_form_for(@user_choice) do |f| %>
  <%= f.input :choice_id,
    collection: [@choices[0].content,
    @choices[1].content,
    @choices[2].content,
    @choices[3].content],
    as: :radio_buttons %>
 <%= f.submit %>
<% end %>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Lifelines
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">50/50</a></li>
    <li><a class="dropdown-item" href="#">Ask a friend</a></li>
    <li><a class="dropdown-item" href="#">Ask the audience</a></li>
  </ul>
</div>
