// Specific CSS for your home-page
.container {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.greeting {
  box-shadow: 1px 1px 1px darkgrey;
  border: 1px solid black;
  border-radius: 5px;
  padding: 3px;
  margin-top: 5px;
}

.score {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid black;
  padding: 30px;
  border-radius: 5px;
}

.leaderboard {
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.players {
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
}

.stats {
  padding: 10px;
  border-radius: 5px;
}

.player {
  border: 1px solid black;
  border-radius: 8px;
}

.leaderboard-header {
  border: 1px solid black;
  margin-bottom: 5px;
  padding: 3px;
  border-radius: 5px;
}
