// Specific CSS for your home-page
.container {
  padding: 0px 30px;
}

.greeting {
  border: 1px solid black;
  border-radius: 8px;
  text-align: center;
  margin: 20px;
  background-color: $beige;

  h1 {
    color: $blue;
  }
}

.stats-board {
  background-color: $blue;
  border-radius: 8px;
  position: relative;
  margin-top: 40px;
  margin-bottom: 10px;

  .avatar-main {
    position: absolute;
    top: -35px;
    right: 40%;
  }
}

.stats {
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
  padding-bottom: 20px;

  p {
    color: $beige;
  }
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    margin-bottom: 0px;
  }
}

.leaderboard {
  margin: 5px;
  padding: 2px;
  margin-bottom: 5px;

}

.leaderboard-main {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 5px;
  border-radius: 8px;
  background-color: $beige;
  width: 80%;

  h2 {
    color: $blue;
    margin-bottom: 0px;
  }
}

.player-info-card {
  display: flex;
  justify-content: space-around;
  background-color: $lightblue;
  margin: 10px;
  border-radius: 8px;
  padding: 5px;
  align-items: center;

  p {
    margin: 0px;
    color: $blue;
  }
}

#player-name {
  background-color: $beige;
  padding: 2px 20px;
  border-radius: 8px;
  opacity: 80%;
  width: 55%;
}

.center-div {
  margin: auto;
}
