// Specific CSS for your home-page
.container {
  padding: 0px 30px;
}

.greeting {
  padding: 1px;
  border-radius: 8px;
  text-align: center;
  background-color: $beige;
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.3);

  h1 {
    color: $blue;
    margin-top: 10px;
  }
}

.stats-board {
  background-color: $blue;
  border-radius: 8px;
  position: relative;
  margin-top: 40px;
  margin-bottom: 10px;
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.3);

  .avatar-main {
    position: absolute;
    top: -35px;
    right: 40%;
    box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.3);
  }
}

.stats {
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
  padding-bottom: 20px;
  margin-top: 50px;

  p {
    color: $beige;
    font-size: 20px;
  }

  h3 {
    color: $beige;
    font-size: 32px;
  }
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    margin-bottom: 0px;
  }
}

.leaderboard {
  margin: 5px;
  padding: 2px;
  margin-bottom: 5px;
}

.leaderboard-main {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 5px;
  border-radius: 8px;
  background-color: $beige;
  width: 80%;
  margin-top: 20px;
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.3);

  h2 {
    color: $blue;
    margin-bottom: 0px;
  }
}

.player-info-card {
  background-color: $lightblue;
  margin: 20px 0px;
  border-radius: 8px;
  padding: 6px;
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.3);
}

.player-info {
  display: flex;
  justify-content: space-between;
  padding: 6px;
  align-items: center;

  p {
    margin: 0px;
    color: $blue;
  }
}

.player-info-cards {
  margin-bottom: 120px;
}

#player-name {
  background-color: $beige;
  padding: 2px 20px;
  border-radius: 8px;
  opacity: 80%;
  width: 55%;
  color: $blue;
  font-weight: bolder;
}

.center-div {
  margin: 30px auto;
  position: fixed;
  bottom: 20px;
  right: 100px;
}

.blocks {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 100%;
}
