.home {
  border: 1px solid black;
  background-color: #F0D8B2;
  margin: 2px;
  padding: 2px;
  width: 10%;
  height: 10%;
}

.profile-game {
  border: 1px solid #398694;
  background-color: #112847;
  margin: 2px;
  padding: 2px;
}

.triv-results {
  color: #D34934;
  background-color: #F0D8B2;
}

h1 {
  background-color: #F0D8B2;
}
.profile-stats {
  color: #D34934;
  background-color: #F0D8B2;
  border: 1px solid #398694;
  background-color: #112847;
  margin: 2px;
  padding: 2px;
}

.profile-stat {
  color: #D34934;
  background-color: #F0D8B2;
}
