.profile-game {
  display: flex;
  justify-content: space-between;
  border: 1px solid #398694;
  border-radius: 10px;
  background-color: #112847;
  margin-top: 20px;
  margin-bottom: 25px;
  padding: 5px;
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.3);
}

.avatar-div {
  padding: 5px;
  margin: 7px;
  width: 45%;
}

.avatar-profile {
  display: flex;
  position: absolute;
  left: 40px;
  margin: 0%;
}

.triv-results {
  font-family: "montserrat", sans-serif;
  text-align: center;
  border: 1px solid black;
  border-radius: 20px;
  color: $blue;
  background-color: $lightblue;
  padding: 10px;
  margin: 5px;
  width: 150%;
}

h1 {
  font-family: "montserrat", sans-serif;
}
.profile-stats {
  display: block;
  text-align: center;
  color: #D34934;
  background-color: #F0D8B2;
  border: 1px solid #398694;
  border-radius: 28px;
  background-color: $lightblue;
  margin: 2px;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 20px;
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.3);
}

.profile-stat {
  color: $blue;
  background-color: #F0D8B2;
  border: 1px solid $blue;
  border-radius: 8px;
  margin: 5%;
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.3);
}

.profile-stat-mb {
  margin-bottom: 30px;
}

.pie-chart {
  background-color: aliceblue;
  border-radius: 8px;
  padding: 5px;
}

.badge-header {
  color: $blue;
}

.badge {
  margin: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  background-color: $beige;
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.3);

  p {
    margin: auto;
    color: $blue;
    font-size: 15px;
    padding: 10px;
    font-weight: lighter;
  }
}

.avatar-badge {
  border-radius: 8px;
  width: 60px;
  height: 70px;
  border: 1px solid darkgrey;
}
