.answers-card {
  font-size: 20px;
  border: #112847;
  border-radius: 8px;
  padding: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 20px;
  margin-left: 4px;
  box-shadow: 2px 2px 4px 2px #8a9db6;
}

.correct {
  background-color: green;
  color: #112847;
}

.incorrect {
  background-color: #d34934;
  color: #112847;
}

.other-answers {
  background-color: #112847;
  color: #f0d8b2;
}

.cards-question {
  background-color: #398694;
  padding: 20px;
  margin: 5px 15px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.3);
}

.card-question {
  font-size: 25px;
  background-color: #f0d8b2;
  color: #112847;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.3);
}

.card-results {
  margin-top: 20px;
  margin-bottom: 15px;
}

.buttons-question {
  display: flex;
  justify-content: space-between;
}

.btn-next {
  animation: next-glowing 3300ms infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: #f0d8b2;
  color: $beige;
  border-radius: 10px;
  padding: 20px;
  font-size: 20px;
  width: 80%;
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  margin-bottom: 10px;
}

@keyframes next-glowing {
  0% {
    background-color: $blue;
    box-shadow: 0 0 5px $blue;
  }
  50% {
    background-color: $lightblue;
    box-shadow: 0 0 20px $blue;
  }
  100% {
    background-color: $blue;
    box-shadow: 0 0 5px $blue;
  }
}

legend {
  display: none;
}

.new_user_choice .form-check {
  font-size: 20px;
  color: #f0d8b2;
  border-radius: 8px;
  background-color: #112847;
  padding: 10px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 20px;
  margin-left: 4px;
  box-shadow: 2px 2px 4px 2px #8a9db6;
}

.selected_answer {
  border: 0.3rem $beige solid;
}

.card-answers {
  font-size: 20px;
}

.progress {
  margin-top: 5px;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
  height: 20px;
  border-radius: 5px;
  background-color: #f0d8b2;
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.3);
}

.new_user_choice .form-check-input {
  display: none;
}

.new_user_choice input {
  background-color: $red;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.3);
  color: $beige;
  text-decoration: none;
  font-size: 20px;
  font-weight: bolder;
}

.bar-chart {
  background-color: aliceblue;
  margin: 10px;
  border-radius: 8px;
}
