.correct {
  background-color: green;
  color: #112847;
  border-radius: 10px;
}

.incorrect {
  margin-top: 15px;
  background-color: #D34934;
  color: #112847;
  border-radius: 10px;
}

.cards-question {
  background-color: #398694;
  padding: 20px;
  margin: 5px 15px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.3);
}

.card-question {
  font-size: 25px;
  background-color: #f0d8b2;
  color: #112847;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.3);
}

// .card-answers {
  // background-color: #112847;
  // color: #f0d8b2;
  // padding: 20px;
  // margin-top: 40px;
  // border-radius: 10px;
  // box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.3);
// }

.card-results {
  margin-top: 20px;
  margin-bottom: 15px;
}

.buttons-question {
  display: flex;
  justify-content: space-between;
}

.lifeline,
#confirm-button {
  background-color: #112847;
  color: #f0d8b2;
}

.btn-next {
  background-color: #112847;
  color: #f0d8b2;
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
}

legend {
  display: none;
}
.form-check {
  font-size: 20px;
  color: #f0d8b2;
  border: #112847;
  border-radius: 8px;
  background-color: #112847;
  padding: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 20px;
  margin-left: 4px;
  box-shadow: 2px 2px 4px 2px #8a9db6;
}

.card-answers {
  font-size: 20px;
}

.form-check-input {
  background-color: whitesmoke;

}
