.results-name {
  font-size: 18px;
}

.tertiary-card p {
  margin-bottom: 0px;
}

.secondary-card p {
  margin-bottom: 0px;
  font-size: 20px;
}

.main-card h1 {
  margin-bottom: 0px;
  color: $blue;
}
