<div class="loading d-none" data-menubar-select-target="loading">
  <h3>Loading...</h3>
  <% gifs = ["https://giphy.com/embed/LpkYElMLodFXjHyxi4", "https://giphy.com/embed/n5GXsYKoe1F3eFcRgq" ] %>
  <iframe src="<%= gifs.sample %>" width="320" height="240" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
</div>
