.play-btn {
  background-color: $red;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.3);
  animation: glowing 1300ms infinite;
  color: $beige;
  text-decoration: none;
  font-size: 20px;
  font-weight: bolder;
}

@keyframes glowing {
  0% {
    background-color: #d34934;
    box-shadow: 0 0 5px #d34934;
  }
  50% {
    background-color: hsl(21, 98%, 51%);
    box-shadow: 0 0 20px hsl(13, 98%, 51%);
  }
  100% {
    background-color: #d34934;
    box-shadow: 0 0 5px #d34934;
  }
}

.btn {
  background-color: #112847;
  color: #f0d8b2;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  width: 60%;
}

.sign-up-btn {
  display: flex;
  justify-content: center;
  background-color: #112847;
  color: #f0d8b2;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  width: 40%;
}

a {
  text-decoration: none;
}

.return-btn {
  display: flex;
  justify-content: center;
  position: inherit;
  background-color: #f0d8b2;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  width: 47%;
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

.profile-return-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: inherit;
  background-color: #f0d8b2;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  width: 47%;
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

.questions-return {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.lifeline-btn {
  background-color: $blue;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.3);
  color: $beige;
  text-decoration: none;
  font-size: 20px;
  font-weight: bolder;
}

.accept-btn {
  background-color: green;
  border-radius: 5px;
  padding: 2px 10px;
}

.delete-btn {
  background-color: red;
  border-radius: 5px;
  padding: 2px 10px;
}
