.play-btn {
  background-color: $red;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  justify-content: center;
  width: 50%;
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.3);

  a {
    color: $beige;
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
  }
}

.btn {
  background-color: #112847;
  color: #f0d8b2;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  width: 60%;
}

.sign-up-btn {
  background-color: #112847;
  color: #f0d8b2;
  border-radius: 10px;
  padding: 10px;
}

a {
  text-decoration: none;
}


