.friend-request {
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.3);
  background-color: $green;
  border-radius: 8px;
  color: $blue;
  padding: 5px 10px;
  margin: -4px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.friend-request h4 {
  margin-top: 12px;
  color: $blue;
}

.add-friend {
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.3);
  background-color: $green;
  border-radius: 8px;
  color: $blue;
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.add-friend h3 {
  margin-top: 15px;
  color: $blue;
}
.friend-request-header {
  margin-left: 10px;
  margin-right: 10px;
}

.form-control {
  border-radius: 8px;
}

.request-btn {
  display: flex;
  justify-content: end;
}

.main-card {
  background-color: $lightblue;
  padding: 20px;
  margin: 5px 15px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.3);
}

.secondary-card {
  font-size: 18px;
  background-color: #f0d8b2;
  color: #112847;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.3);
}
