.main-card {
  background-color: $lightblue;
  padding: 20px;
  margin-bottom: 24px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.3);
}

.secondary-card {
  font-size: 18px;
  background-color: $beige;
  color: $blue;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.3);
}

.tertiary-card {
  font-size: 18px;
  color: $beige;
  border-radius: 8px;
  background-color: $blue;
  padding: 20px;
  margin-top: 20px;
  margin-left: 4px;
  box-shadow: 2px 2px 4px 2px #8a9db6;
}
