.menubar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url("background.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 65px;
  width: 100%;
  position: fixed;
  bottom: 0px;


}

.menubar-item {
  i {
    color: $blue;
    font-size: 32px;
  }
}

.menubar-main-item {
  i {
    color: $blue;
    font-size: 50px;
  }

  img{
    height: 80px;
  }
}

.flashing-btn {
  animation: glowing 1300ms infinite;
  text-decoration: none;
  font-weight: bolder;
}

@keyframes glowing {
  0% {
    color: #d34934;
    text-shadow: 0 0 5px #d34934;
  }
  50% {
    color: hsl(21, 98%, 51%);
    text-shadow: 0 0 20px hsl(13, 98%, 51%);
  }
  100% {
    color: #d34934;
    text-shadow: 0 0 5px #d34934;
  }
}

.selected-menubar-item {
  i {
    color: $beige;
  }
}

.notify {
  animation: notification 1300ms infinite;
  position: relative;
  top: 2px;
  left: 2px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

@keyframes notification {
  0% {
    background-color: #d34934;
    box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.3);
  }
  50% {
    background-color:  hsl(21, 98%, 51%);
    box-shadow: 0 0 20px hsl(13, 98%, 51%);
  }
  100% {
    background-color: #d34934;
    box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.3);
  }
}
