.navbar-lewagon {
  justify-content: space-between;
  background-image: url("background.svg");
  background-position: center;
  background-size: cover;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  text-align: right;
  padding: 10px;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {
  background-image: url("background.svg");
  background-position: center;
  background-size: cover;
}

.logo {
  width: 40px;
}

.hamburger {
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.3);
  margin-top: 5px;
}
.navbar-brand h1 {
  font-size: 35px;
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 40px;
 }

 .nav-item {
  font-size:larger;
 }
