.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {
  background-color: $green;
}

.logo {
  width: 40px;
}

.hamburger {
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.3);
  margin-top: 5px;
}
 .navbar-brand h1 {
  font-size: 35px;
  margin-top: 11px;
  font-size: 40px;
 }
