.navbar-lewagon {
  justify-content: space-between;
  background-image: url("background.svg");
  background-position: center;
  background-size: cover;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  text-align: right;
  padding: 10px;
}

.navbar-lewagon .navbar-brand img {
  width: 88px;
  margin-top: 8px;
}

.navbar {
  background-image: url("background.svg");
  background-position: center;
  background-size: cover;
}

.logo {
  width: 40px;
}

.hamburger {
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.3);
  margin-top: 5px;
}

.notify {
  animation: notification 1300ms infinite;
}

@keyframes notification {
  0% {
    background-color: $lightblue;
    box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.3);
  }
  50% {
    background-color: transparent;
    box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.3);
  }
  100% {
    background-color: $lightblue;
    box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.3);
  }
}

.nav-item {
  font-size: larger;
}
